#root {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 3rem;
    border: 2px solid gray;
    text-align: center;
  }
  footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #c2bfbf;
  }
  h1{
    font-family: 'Enriqueta', arial, serif;
    font-weight: 40px;
    letter-spacing: -1px;
    line-height: 1.25;
    color: white;
  }
  p{
    color: white;
  }
  body{
    background-image: url('https://wallpapercave.com/wp/wp3284832.gif');
    background-size: cover;

    height:100vh;
  }


  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }