#root {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 3rem;
    border: 2px solid gray;
    text-align: center;
  }
  footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #c2bfbf;
  }


  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }